
body {
    color: #801334;
}
.navbar {
    padding: 7px 2px;
    background: #801334 !important;
    border: none;
    border-radius: 0;
    color: #fff !important;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 100px;
    height: 100px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
}

    .card.alt .toggle {
        position: relative;
        background: #ec2652;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color: #ffffff;
        font-size: 42px;
        line-height: 100px;
        text-align: center;
        cursor: pointer;
    }

        .card.alt .toggle:before {
            content: '\f067';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

    .card.alt .title,
    .card.alt .input-container,
    .card.alt .button-container {
        left: 100px;
        opacity: 0;
        visibility: hidden;
    }

    .card.alt .title {
        position: relative;
        border-color: #ffffff;
        color: #ffffff;
    }

        .card.alt .title .close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 60px;
            display: inline;
            color: #ffffff;
            font-size: 58px;
            font-weight: 400;
        }

            .card.alt .title .close:before {
                content: '\00d7';
            }

    .card.alt .input-container input {
        color: #ffffff;
    }

        .card.alt .input-container input:focus ~ label {
            color: #ffffff;
        }

        .card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
            background: #ffffff;
        }

        .card.alt .input-container input:valid ~ label {
            color: #ffffff;
        }

    .card.alt .input-container label {
        color: rgba(255, 255, 255, 0.8);
    }

    .card.alt .input-container .bar {
        background: rgba(255, 255, 255, 0.8);
    }

    .card.alt .button-container button {
        width: 100%;
        background: #ffffff;
        border-color: #ffffff;
    }

        .card.alt .button-container button span {
            color: #ec2652;
        }

        .card.alt .button-container button:hover {
            background: rgba(255, 255, 255, 0.9);
        }

        .card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
            display: none;
        }

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}

@keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}
.navbar-brand {
    float: left;
    padding: 10px 10px !important;
    font-size: 18px;
    line-height: 20px;
}



#ListWrapper {
    background-color: #ccc;
    position: absolute;
}

    #ListWrapper a {
        color: #000;
        text-decoration: none;
    }

    #ListWrapper .dd-header {
        margin: 1px 1px 1px 0;
        padding: 0;
        width: 600px;
        height: auto;
        background-color: #fff;
        list-style-type: none;
        overflow: hidden;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        border-left: 10px solid #000;
    }

        #ListWrapper .dd-header.select {
            border-left: 10px solid #9cbe4f;
            background-color: #000;
        }

            #ListWrapper .dd-header.select .icon-beaker,
            #ListWrapper .dd-header.select .icon-bar-chart {
                color: #9cbe4f;
                text-shadow: 0px 0px 1px #fff004;
                font-size: 50px;
            }

            #ListWrapper .dd-header.select .dd-main {
                color: #9cbe4f;
                font-size: 14px;
            }

            #ListWrapper .dd-header.select .dd-sub {
                color: #ccc;
                font-size: 24px;
            }

        #ListWrapper .dd-header:hover {
            border-left: 10px solid #9cbe4f;
            /*background-color: #000;

            .icon-beaker {
                color:@green;
                text-shadow:0px 0px 1px #fff004;
                font-size:50px;
            }

            .dd-main {
                color:@green;
                font-size:14px;
            }

            .dd-sub {
                color:#fff;
                font-size:24px;
            }*/
        }

        #ListWrapper .dd-header .hidden {
            display: none;
            list-style-type: none;
            background-color: #fff;
            border: 1px solid #fff;
        }

            #ListWrapper .dd-header .hidden p {
                margin: 14px 0 14px -24px;
                padding: 0;
                width: 100%;
                background-color: #fff;
            }

        #ListWrapper .dd-header div {
            height: 100px;
            position: relative;
        }

.icon-beaker,
.icon-bar-chart {
    padding: 0 20px 0 20px;
    font-size: 20px;
    text-shadow: 0px 0px 1px #333333;
    line-height: 90px;
    text-decoration: none;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.dd-content {
    position: absolute;
    left: 100px;
    bottom: 87px;
}

.dd-main {
    padding-top: 20px;
    color: #333;
    margin: 0;
    font-size: 26px;
    font-weight: normal;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.dd-sub {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.card {
    background: #FFF;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*min-width: 300px;
    max-width: 300px;*/
    /*max-width:30%;*/
    /* border: 1px solid #AAA; */
    /* border-bottom: 3px solid #BBB; */
    color: #801334 ;
    border-radius:5px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
    color: #801334 !important;
    width:100% !important;
}

.card-body {
    margin: 2px;
}

.pull-left {
    float: left;
}

.pull-none {
    float: none !important;
}

.pull-right {
    float: right;
}

.card-header {
    width: 100%;
    color: inherit !important;
    border-bottom: 3px solid #BBB;
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);*/
        
    padding: 0px;
    margin-top: 0px;
    color: transparent !important;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}



.card-header-blue {
    background-color: #2196F3;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    /*box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.2), 0px 2px 6px 2px rgba(0, 0, 0, 0.19);*/
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.1s cubic-bezier(0.05, 0, 0.1, 1);
}

.card-header-red {
    background-color: #F44336;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-header-grey {
    background-color: #424242;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-header-orange {
    background-color: #E65100;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*font-family: 'Roboto', sans-serif;*/
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-header-pink {
    background-color: #E91E63;
    color: #FFFFFF;
    border-bottom: 3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*font-family: 'Roboto', sans-serif;*/
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-heading {
    display: block;
    font-size: 16px;
    /* line-height: 28px; */
    margin-bottom: 9px;
    margin-left: 5px;
    /* border-bottom: 1px #2196F3; */
    /* color: #fff; */
    color: #801334 !important;
}

.card-footer {
    border-top: 1px solid #000;
    font-size:xx-small;
    padding:1px;
}
.card-p{
    font-size:12px !important;
    line-height:12px;
    text-overflow:clip;
    text-wrap:normal;

}
@media (max-width: 786px) {
    #EventListWrapper {
        background: #801334 !important;
        /*max-width: 100% !important;*/ 
        padding: 5px;
        border-radius: 5px;
        margin-left: 5px !important;
        /*margin-left:-100px !important;*/
    }
}
@media (min-width: 787px) {
    #EventListWrapper {
        background: #801334 !important;
        max-width: 30%;
        padding: 5px;
        border-radius: 5px;
        /*margin-left: 5px !important;*/
        /*margin-left:-100px !important;*/
    }
}
    .card:hover {
        background: #4b0d0d;
        color: white !important;
        border: 1px solid white;
        border-radius: 5px;
    }

        .card:hover .card-heading {
            color: white !important;
        }

        .card:hover .card-content {
            color: white !important;
        }

    .NorecordFound {
        text-align: center !important;
    }

        .NorecordFound p {
            color: white;
        }




/* remove border radius for the tab */
#exTab3

#exTab1 .nav-pills > li > a {
    border-radius: 2px;
    background-color: #801334;
}

/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills .active {
    background-color: #801334 !important;
    border-radius: 4px 4px 0 0;
}
#exTab3 .nav-pills > li > a {
    border-radius: 4px;
 
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #801334;
    font-size: 15px;
    list-style: none;
}
    .nav-pills > li > a {
        /*color: #fff;*/
        /*background-color: #801334;*/
        font-size: 10px;
       
    }

#exTab3 .tab-content {
    color: white;
    background-color: #801334;
    padding: 5px;
    border-radius: 0px 4px 4px 4px;
    margin-top:-3px;
}
